.header__wrapper {
  background-color: var(--clr-primary-dark, #1c2230);
}

.header {
  overflow: hidden;
  font-family: "OpenSans", var(--default-font-family, system-ui);
  width: var(--header-width, 85%);
  margin-inline: auto;
  padding-block: min(10%, 5rem) 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__container {
  flex-shrink: 0.3;
}

.logo {
  height: 2.5rem;
  width: auto;
}

.nav {
  font-family: inherit;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: max(3.5vw, 1.75rem);
}
