.section {
  width: var(--body-width, 85%);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  align-items: center;
  padding-block: max(12vh, 3rem) max(8vh, 3rem);
  column-gap: max(3vw, 3rem);
  row-gap: max(4vh, 4rem);
}

.section__image {
  justify-self: end;
  min-width: 0;
  max-height: 45vh;
  pointer-events: none;
}

.section__text {
  justify-self: start;
  max-width: 62ch;
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.4rem;
}

.section__title {
  max-width: 20ch;
  font-family: "Raleway", var(--default-font-family, system-ui);
  line-height: 125%;
  font-size: clamp(1.5rem, 3.5vw, 2.3rem);
  color: var(--clr-white, #fff);
}

.section__description,
.section__link {
  font-family: "OpenSans", var(--default-font-family, system-ui);
  font-size: clamp(0.9rem, 1.25vw, 1rem);
}

.section__description {
  color: var(--clr-white, #fff);
}

.section__link {
  --link-text-color: var(--clr-turquoise, #66dddb);
  --link-text-hover-color: var(--clr-white, #fff);
  --transition-duration: 0.5s;
  position: relative;
  color: var(--link-text-color);
  transition: color var(--transition-duration) ease;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.arrowIcon {
  padding: 0.19rem;
  height: 0.8rem;
  width: auto;
  background-color: var(--link-text-color);
  border-radius: 50%;
  transition: background-color var(--transition-duration) ease;
}

.arrowIcon path {
  fill: var(--clr-secondary-dark, #181f2b);
}

.section__link::after {
  content: "";
  position: absolute;
  left: 50%;
  translate: -50% 0;
  bottom: -2px;
  height: 1px;
  width: 100%;
  background-color: var(--link-text-color);
  border-radius: 0.25rem;
  transition: background-color var(--transition-duration) ease;
}

.section__link:hover {
  color: var(--link-text-hover-color);
}

.section__link:hover::after {
  background-color: var(--link-text-hover-color);
}

.section__link:hover > .arrowIcon {
  background-color: var(--link-text-hover-color);
}

@media screen and (max-width: 768px) {
  .section {
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
    grid-template-columns: 1fr;
    place-items: center;
  }
  .section__title {
    max-width: unset;
  }

  .section__image {
    max-height: 40vh;
    justify-self: center;
  }
}
